<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown-light.css" rel="stylesheet" type="text/css"></link>
    <style>
        body {
            margin: 1em;
        }
        
        footer p a {
            color: rgb(134, 134, 134);
            text-decoration: none;
        }
        
        .container {
            max-width: 870px;
            margin: 0 auto;
        }
    </style>
    <title>I'm Bottle.</title>
</head>

<body>
    <div class="container">
        <div class="markdown-body">
            个人介绍拉取中...
        </div>
        <footer>
            <p><a href="http://beian.miit.gov.cn" target="_blank">闽ICP备17007528号-3</a></p>
        </footer>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/markdown-it@latest/dist/markdown-it.min.js'></script>
    <script>
        if(typeof localStorage.somebottlereadme !== 'undefined') document.querySelector(".markdown-body").innerHTML = localStorage.somebottlereadme;
        fetch("https://bottle-ghproxy.ghostchu.com/somebottle/master/README.md")
            .then((resp) => resp.text())
            .then((resp) => {
                let ready = window.markdownit({ html: true, linkify: true }).render(resp);
                document.querySelector(".markdown-body").innerHTML = ready;
                localStorage.somebottlereadme = ready;
            })
    </script>
</body>
